[Desktop Entry]
Type=Application
Name=Observer Stop
Comment=Stop MES observer
Exec=/home/pi/Documents/vision/scripts/launch_observer_stop_desktop.sh
Path=/home/pi/Documents/vision
Terminal=false
StartupNotify=false
Categories=Utility;
